$color-luoTianyi: #66CCFF;
$color-luoTianyi-dark: #66b3ff;
$color-component-bg: #e5e5e5;
$color-component-bg-active: #cccccc;
$color-cherry-blossom-pink: #FFB7C5;
$color-body-bg: #cccccc;
$color-invalid-input: #e60000;
$color-valid-input: #00cc00;
$color-slate-400: #94a3b8;
$color-slate-300: #cbd5e1;
$color-slate-200: #e2e8f0;
$color-slate-100: #f1f5f9;

$padding-leave-top-when-header: 6rem;
$padding-max-left-right: 16rem;
$padding-medium-left-right: 2rem;
$padding-small-left-right: 0.8rem;
